@model TemporaryVariables.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TeamName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.TeamName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Role, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Role, new SelectList(
    new List<Object>
    {
        new { value = 0 , text = "Application Developer"},
        new { value = 1 , text = "Analyst"},
        new { value = 2 , text = "Requirement"},
        new { value = 3, text = "Tester"}
    },
    "value",
    "text",
    0))
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EmployeeType, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.EmployeeType, new SelectList(
    new List<Object>
    {
        new { value = 0 , text = "Full Time"},
        new { value = 1 , text = "Contractor"},
        new { value = 2 , text = "Intern"}
    },
    "value",
    "text",
    0))
        </div>
    </div>
    <h4>Please fill out the following.</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.SQLYears, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.SQLYears, new SelectList(
    new List<Object>
    {
        new { value = 0 , text = "0"},
        new { value = 1 , text = "<1"},
        new { value = 2 , text = "1"},
        new { value = 3, text = "2"},
        new { value = 4, text = "3"}
    },
    "value",
    "text",
    0))
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.JavaYears, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.JavaYears, new SelectList(
    new List<Object>
    {
        new { value = 0 , text = "0"},
        new { value = 1 , text = "<1"},
        new { value = 2 , text = "1"},
        new { value = 3, text = "2"},
        new { value = 4, text = "3"}
    },
    "value",
    "text",
    0))
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.RubyYears, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.RubyYears, new SelectList(
    new List<Object>
    {
        new { value = 0 , text = "0"},
        new { value = 1 , text = "<1"},
        new { value = 2 , text = "1"},
        new { value = 3, text = "2"},
        new { value = 4, text = "3"}
    },
    "value",
    "text",
    0))
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.JavascriptYears, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.JavascriptYears, new SelectList(
    new List<Object>
    {
        new { value = 0 , text = "0"},
        new { value = 1 , text = "<1"},
        new { value = 2 , text = "1"},
        new { value = 3, text = "2"},
        new { value = 4, text = "3"}
    },
    "value",
    "text",
    0))
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
